		*{
			box-sizing: border-box;
		} 

		body{
			background-image: url(freepik.jpg);
			background-size: cover;
			background-position: center;
		}
		
		.gallery{
			border:1px solid #ccc;
		}

		.gallery img{
			width: 100%;
			height: auto;
		}

		.des{
			text-align: center;
		}
		.responsive{
			padding: 0 6px;
			float: left;
			width: 25%;
		}