*{
	margin: 0px;
	font-family: Bahnschrift;	
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.5),
	 rgba(0,0,0,0.5)), url(books.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	margin-top: 35px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 2px solid #fff;
	border-radius: 20px;
	transition: 0.6s;
	margin: 10px;
	font-size: 12px;
	font-weight: bold;
}
ul li a:hover{
	background-color: #14e3b0;
	color: #000;
}ul li.active a{
	background-color: #14e3b0;
	color: #000;
}
.logo img{
	float: left;
	width: 180px;
	height: auto;
	margin-top: 10px;
	cursor: pointer;	
}
.navbar{
	max-width: 1200PX;
	margin: auto;
}
.contents{
	position: absolute;
	top: 25%;
	left: 36%;
}
.contents h1{
	color: #fff;
	font-size: 65px;
	text-shadow: -2px 2px 4px #000;
}
.color{
	color: #14e3b0;
}
.contents p{
	color: #fff;
	font-size: 20px;
	text-align: center;
	top: 25%;
	left:33%;
	text-shadow: -2px 2px 4px #000;	
}
.button{
	position: absolute;
	top: 45%;
	left: 37%;
	margin-top: 65px;
	font-weight: bold;

}
.btn{
	border :2px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0,6s ease;
	border-radius: 20px;
	margin: 10px;
	background-color: #14e3b0;
	margin-left: 120px;
	text-shadow: -1px 1px 3px #000;
}
.btn:hover{
	background-color: #e7c713;
	color: #fff;
}