body
{
	margin: 30px;
	padding: 0px;
	font-family: sans-serif;
	background-image: url(freepik.jpg);
	background-size: cover;
	background-position: center;
}
.sign-up-form
{
   width: 300px;
   box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
   background: rgba(0,0,0,0.3); 
   padding: 20px;
   margin: 8% auto 0;
   text-align: center;
}
.sign-up-form h1
{
	color: #14e3b0;
	margin-bottom: 30px;
}
.input-box
{
	border-radius: 20px;
	padding: 10px;
	margin: 10px 0;
	width: 100%
	border :1px solid #999;
	outline: none;
}
button
{
	color: #fff;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
}
.signup-btn
{
	background-color: #14e3b0;
}
.facebook-btn
{
	background-color: #14e3b0;
}
a

}
hr
{
	margin-top: 30px;
	width: 80%;
}
.or
{
	color: #fff;
	background: #14e3b0;
	width: 30px;
	margin: -4px auto 10px;
}
img
{
	width: 150px;
	margin-top: -70px;
}